/* services and team styling */
.triple.team .item p {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    max-width: 80%;
    margin: auto;
}

/* team styling */
.triple.team {
    background: #fff;
    color:#313243;
}

.triple.team .item h4 {
    font-weight: 700;
    margin-bottom: 15px;
}

.triple.team .item p {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.triple.team .item .socials{
    font-size: 30px;
    color: #daac00;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
